HAI_API_KEY=
DISCORD_BOT_TOKEN=
DISCORD_GUILD_ID=
DISCORD_CHANNEL_ID=
CREDENTIALS_MASTER_KEY=
LANIS_API_USERNAME=
LANIS_API_PASSWORD=
LANIS_API_SCHOOL_ID=
WHATSAPP_PHONE_ID=
WHATSAPP_TOKEN=
WHATSAPP_VERIFY_TOKEN=
WHATSAPP_CALLBACK_URL=
WHATSAPP_PORT=5000
